<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    {{ bokeh_css }}
    {{ bokeh_js }}
    <link rel="stylesheet" href="pixiplex/static/css/styles.css"/>
    {# <script type="module" src="pixiplex/static/js/sim.js"></script> #}
    <script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-3.0.0.min.js"></script>
  </head>
  <body>
    {% extends base %}
    {% block contents %}
    <div>
        {{ embed(roots.sim_figure) }}
    </div>

    <script type="text/javascript">
      console.log(Bokeh)
      
      const plt = Bokeh.Plotting;
      class Node {
        constructor(index, x, y, color, radius) {
          this.index = index
          this.x = x
          this.y = y
          this.color = color
          this.radius = radius
        }
      }
      console.log(Node)
      // Initialize 

      // create a data source
      let source = new Bokeh.ColumnDataSource({
        data: { x: xx, y: yy }
      })

      function update_coordinates() {
        xx = []
        yy = []
        for (const node of nodes) {
          xx.push(node.x)
          yy.push(node.y)
        }
        source.data.x = xx
        source.data.y = yy
      }

    </script>
    {% endblock %}
  </body>
</html>